node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.github
.gitignore
.env
.env.*
!.env.example
README.md
LICENSE
.vscode
dist
build
images
script
snapshot.py
weather.php
*.zip
